<% @user_facade.each do |user| %>
  <ul class = "user">
    <li><%= user.user_name %></li>
    <li><%= user.user_email %></li>
    <li><%= link_to "Edit", edit_user_path(user.id)%></li>
  </ul>
<% end %>
